@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*
{
    margin: 0px;
    padding: 0px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
}

#marksheet
{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    border: 2px solid black;
    width:80%;
    margin: auto;
    margin-top: 20px;
}
#marksheet>div
{
    border:1px solid black;
    padding:10px;
}
/* select 1st five div tag */
#marksheet>div:nth-child(-n+5)
{
    background-color: gainsboro;
    text-align: center;
    font-weight: 700;
}
#marksheet div:nth-last-child(-n+5) {
    background-color: black;
    color:white;
}