* {
    margin: 0px;
    padding: 0px;
    letter-spacing: 1px;
    box-sizing: content-box;
}

body {
    background-color: antiquewhite;
}

#site {
    height: 100vh;
    display: grid;

}

#site>div {
    border: 1px solid black;
}

#header {
    background-color: brown;
    grid-area: header;
    padding-bottom: 10px;
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header>ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

#header>ul>li>a:link,
#header>ul>li>a:visited {
    background-color: white;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 1.3rem;
    color: brown;
    text-decoration: none;
    text-transform: uppercase;
}

#menu {
    grid-area: menu;
}

#content {
    grid-area: content;
    padding: 20px;
}


#sidebar {
    grid-area: sidebar
}

#footer {
    grid-area: footer;
    background-color: brown;
    color: white;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu>ul {
    height: 100%;
    list-style-type: none;
    /* padding-left: 20px; */
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* padding-top: 20px; */
}

#menu>ul>li>a:link,
#menu>ul>li>a:visited {
    background-color: brown;
    padding: 20px 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    width: 200px;
    display: inline-block;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 5px gray;
}

.single-blog-image {
    height: 230px;
    width: 100%;
}

.blog-post {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 10px;
    background-color: #E2C799;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.blog-content {
    font-size: 1.1rem;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
}

.sidebar_link {
    font-size: 1.5rem;
    height: 57px;
    font-family: "DM Serif Display", serif;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 10px;
    border-radius: 20px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single_sidebar_link {
    color: white;
    text-decoration: none;
}

#header_logo {
    height: 70px;
    border-radius: 15px;
}

#grid_content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#menu_button {
    display: none;
}

/* media query template */

/*  ##Device = Most of the Smartphones Mobiles (Portrait) ##Screen = B/w 320px to 479px */
@media (min-width: 320px) and (max-width: 480px) {

    /* code in this block will be applied only if device width>320 and <480 */
    #site {
        grid-template-columns: 100%;
        grid-template-areas:
            "header"
            "content"
            "footer";
        grid-template-rows: 10% 200% 20% 10%;
    }

    #header>ul {
        display: none;
    }

    #grid_content {
        gap: 0px;
    }

    #grid_content>div {
        width: 100%;
    }

    #menu>ul>li>a:link,
    #menu>ul>li>a:visited {
        display: none;
    }

    #menu_button {
        display:inline-block;
        margin-right: 10px;
    }
}

/* ##Device = Low Resolution Tablets,  ##Screen = B/w 481px to 767px */
@media (min-width: 481px) and (max-width: 767px) {

    /* code in this block will be applied only if device width>481 and <767 */
    #site {
        grid-template-columns: 100%;
        grid-template-areas:
            "header"
            "content"
            "footer";
        grid-template-rows: 10% 141% 20% 10%;
    }

    #grid_content>div {
        width: calc(50% - 20px);
    }

    #header>ul {
        display: none;
    }
    #menu_button {
        display:inline-block;
        margin-right: 10px;
    }
}

/* ##Device = Tablets, Ipads (portrait) ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {

    /* code in this block will be applied only if device width>768 and <1024 */
    #site {
        grid-template-columns: 20% 60% 20%;
        grid-template-areas:
            "header header header"
            "content content content"
            "footer footer footer";
        grid-template-rows: 10% 80% 10%;
    }


    #grid_content>div {
        width: calc(33.33% - 20px);
    }

    #header>ul {
        display: none;
    }
    #menu_button {
        display:inline-block;
        margin-right: 10px;
    }
}

/* ##Device = Laptops, Desktops ##Screen = B/w 1025px to 1280px*/
@media (min-width: 1025px) {

    /* code in this block will be applied only if device width>1025 and <1280 */
    #site {
        grid-template-columns: 20% 60% 20%;
        grid-template-areas:
            "header header header"
            "menu content sidebar"
            "footer footer footer";
        grid-template-rows: 15% 80% 10%;
    }


    #grid_content>div {
        width: calc(33.33% - 20px);
    }

}